<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Creating Game</title>
</head>
<body>
<pre> Add you game data : </pre>
<Form action="#"  method = "post" th:action="@{/CreatingGame}" th:object="${game}">
		<label>name</label><input type  = "text" th:field="*{name}"/>
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>		
		<br></br>
		
		<label>Description</label><input type  = "text"  value="You must write the form of answer that should be entered."  th:field="*{description}"/>
			<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
		<br></br>
          
		<label>Course</label><input type  = "text" th:field="*{course}"/>
		<p th:if="${#fields.hasErrors('course')}" th:errors="*{course}">Course Error</p>		
          		<br></br>
          
		<input type  = "submit" value = "Add Questions" />
		
</Form>
<pre>
Note: Please Name the Course already created in the list of courses to save it safely</pre>
</body>
</html>