<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<pre> Add you game Questions : </pre>

<form action="#"  method = "post" th:action="@{/QA}" th:object="${questions}">

<label>Name of the Game</label><input type  = "text" th:field="*{Gname}" />
<p th:if="${#fields.hasErrors('Gname')}" th:errors="*{Gname}">Name Error</p>
		<br></br>
		
<label>Question</label><input type  = "text" th:field="*{question}"/>
	<p th:if="${#fields.hasErrors('question')}" th:errors="*{question}">Question Error</p>

		<br></br>
		
		<label>Choices</label><input type  = "text" th:field="*{choices}"/>
		<p th:if="${#fields.hasErrors('choices')}" th:errors="*{choices}">Choices Error</p>
		<br></br>
		
		<label>Answer</label><input type  = "text" th:field="*{answer}"/>
		<p th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}">Answer Error</p>
          		<br></br>
          		
          <label>Course</label><input type  = "text" th:field="*{Gcourse}"/>
		<p th:if="${#fields.hasErrors('Gcourse')}" th:errors="*{Gcourse}">Course Error</p>		
          		<br></br>
          		
			<input type="submit" value="Save"/>
</form>
</body>
</html>