<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Show Courses as Student</title>
</head>
<body>
<form action = "/coursesS">
which course you want to choose ? 
		<input type  = "submit" value = "View All Courses" />
		</form>
		<table border ="1">
			<tr>
				
				<td>name</td>
				<td>age</td>
				<td>bio</td>
			</tr>
			<tr th:each="course : ${courses}">
				<td th:text="${course.name}"></td>
				<td th:text="${course.age}"></td>
				<td th:text="${course.bio}"></td>
			</tr>
		</table>
<!--  <p th:if="${result}"
	
	th:inline="text"
	> Courses are [[${result}]]  </p>
	-->
<Form action="/gamesS">
<input type = "text" name = "course"/> <!-- l name da ely hy5leny ageb l games bta3to fl page ely asmha show games -->
<input type  = "submit" value = "Show Games of this Course" />
<button formaction="Play">Go To Play Page</button>

</Form>

<p th:if="${games}"
	
	th:inline="text"
	> Games are [[${games}]]  </p>
	
</body>
</html>
