<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Show Courses as Teacher</title>
</head>
<body>

<form action = "/result">
which course you want to choose ? 
		<input type  = "submit" value = "View All Courses" />
		
<p th:if="${result}"
	
	th:inline="text"
	> Courses are [[${result}]]  </p>
</form>

<form action="/games">
<input type = "text" name = "course"/> <!-- l name da ely hy5leny ageb l games bta3to fl page ely asmha show games -->
<input type  = "submit" value = "Go" />

<p th:if="${games}"
	
	th:inline="text"
	> Courses are [[${games}]]  </p>
	
<button formaction="AddCourse">Add Course</button>
</form>

</body>
</html>
